.dark {
    background-image: url('../assets/bg.svg');
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.dark img {
    max-width: 15rem;
    border-radius: 100%;
}

.card {
    max-width: 60rem;
    min-height: 72rem;
    backdrop-filter: blur(1rem) saturate(200%);
    -webkit-backdrop-filter: blur(1rem) saturate(200%);
    background-color: rgba(167, 167, 167, 0.25);
    border-radius: 2rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    border: .1rem solid rgba(167, 167, 167, 0.25);
}

.card .title {
    text-transform: uppercase;
    color: var(--white-clr);
}

.card .main-items {
    display: flex;
    padding: 1em;
    border-bottom: .1rem solid rgba(167, 167, 167, 0.5)
}

.card .text {
    margin-left: 3rem;
}

.card .inner {
    font-weight: 400;
    color: var(--white-clr);
}

.card .details {
    color: var(--white-clr);
    padding: 2em;
    min-height: 40rem;
}

.card p {
    font-weight: 200;
}


.card .icons {
    margin-top: 5em;
    text-align: end;
}

.card .icons svg {
    margin-right: 2rem;
}
